Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/REST/apps/admin/config.ini.php
Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/REST/apps/oauth2demo/config.ini.php
