<form>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{'REST Query' | translate}}</h3>
        </div>

        <div class="panel-body">
            <div class="input-group typeahead"> <!-- container-fluid typeahead -->
                <!--<span class="input-group-addon" id="verb-indicator">{{inputVerbIndicator}}</span> -->
                <div class="input-group-btn">
                    <button class="btn btn-default-outline dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button">
                        {{inputVerbIndicator}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu .dropdown-menu-right">
                        <li >
                            <a data-ng-click="setVerb('GET')">GET</a>
                            <a data-ng-click="setVerb('POST')">POST</a>
                            <a data-ng-click="setVerb('PUT')">PUT</a>
                            <a data-ng-click="setVerb('DELETE')">DELETE</a>
                        </li>
                    </ul>
                </div>
                <input id="inputRestEndpoint" name="inputRestEndpoint" data-ng-model="inputRestEndpoint" type="text" class="form-control" placeholder="Route" aria-describedby="sizing-addon2" uib-typeahead="route for route in routeArray | filter:$viewValue | limitTo:1000" typeahead-on-select="onSelect($item, $model, $label)">
                <div class="input-group-btn">
                   <!-- <button class="btn btn-default-outline dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>-->
                    <button class="btn btn-success" data-ng-click="checkout()">{{'Submit' | translate}}</button>
                    <ul class="dropdown-menu dropdown-menu-right dropdown_menu_stretch ">
                        <li data-ng-repeat="route in routes | orderBy:'access'">
                            <a class="clear" data-ng-click="setRoute(route)">[{{route.verb}}] {{route.pattern}}</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div id="descriptionBox">
                {{description}}
            </div>
            <div id="paramBox">
                <div class="form-group">
                    <label for="requestParameters">Parameters (JSON)</label>
                    <textarea id="requestParameters" class="form-control" rows="3" data-ng-model="requestParameters"></textarea>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="openNewWindow" name="openNewWindow" data-ng-model="openNewWindow" data-ng-true-value="1" data-ng-false-value="0">
                    {{'CHECKOUT_OPEN_NEW_WINDOW' | translate}}
                </label>
            </div>

        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Result' | translate}}</h3>
        </div>


        <div class="form-group" id="responsePanel">
            <pre id="response"><code data-ng-bind-html='result | formatHTML'></code></pre>
        </div>
    </div>

</form>
