/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.main_div {
   margin: 15px;
}

#scopetable {
  margin: 15px;
  width: calc(100% - 30px);
}

.label-granttype {
  background-color: #363635;
}
.label-permission {
  background-color: #6a8c8a;
}
/* ----------------- ANIMATION PART ------------------- */
/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.page-login.ng-enter {
  -webkit-transition: .2s linear all; /* Safari/Chrome */
  -moz-transition: .2s linear all; /* Firefox */
  -o-transition: .2s linear all; /* Opera */
  transition: .2s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.page-login.ng-enter{
  /* The animation preparation code */
  opacity: 0;
}

/**
 * Post animation -> enter
 */
.page-main.ng-enter.ng-enter-active {
  /* The animation code itself */
  opacity: 1;
}

.page-main.ng-enter {
  -webkit-transition: .1s linear all; /* Safari/Chrome */
  -moz-transition: .1s linear all; /* Firefox */
  -o-transition: .1s linear all; /* Opera */
  transition: .1s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.page-main.ng-enter{
  /* The animation preparation code */
  opacity: 0;
}



.view-animate {
  padding:0px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  display:block;
  width:100%;
  border-left:0px solid white;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}