<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>id</th>
				<th>api_key</th>
				<th>api_secret</th>
				<th>oauth2 grant types</th>
				<th>permissions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="client in clients">
				<td>{{client.id}}</td>
				<td>{{client.api_key}}</td>
				<td>{{client.api_secret}}</td>
				<td>
					<span data-ng-show="{{client.oauth2_gt_authcode_active}}" class="label label-granttype">AuthCode</span> 
					<span data-ng-show="{{client.oauth2_gt_implicit_active}}" class="label label-granttype">Implicit</span> 
					<span data-ng-show="{{client.oauth2_gt_resourceowner_active}}" class="label label-granttype">Resource Owner</span> 
					<span data-ng-show="{{client.oauth2_gt_client_active}}" class="label label-granttype">Client	Credentials</span>
				</td>
				<!--<td>{{client.permissions}}</td>-->
				<td data-ng-bind-html='client.permissions | format_permissions'></td>
				<td><button class="btn btn-primary" data-ng-click="editClient(client)">Modify</button></td>
				<td><button class="btn btn-danger" data-ng-click="deleteClient($index)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<br />
	<button class="btn btn-primary" data-ng-click="createNewClient()">Create a new REST client</button>
	<!--<button class="btn" data-ng-click="loadClients()">Reload</button> -->
	<!--<div>{{getAccessToken()}}</div>-->
</div>

