<div>
    <div data-ng-show="warning" class="alert alert-warning" role="alert" data-ng-cloak><div ng-bind-html-compile="warning"></div></div>
    <div class="checkbox">
    <button class="btn btn-default" data-ng-click="enterOverview()">{{'EDIT_BACK' | translate}}</button>
    <button class="btn btn-primary" data-ng-click="createNewClient()">{{'LIST_NEW_CLIENT' | translate}}</button>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr >
                <th style="vertical-align: middle; width:1px;"><div class="text-center">{{'LIST_ID' | translate}}</div></th>
                <th style="vertical-align: middle;"><div class="text-center">{{'LIST_API_KEY' | translate}}</div></th>
                <th style="vertical-align: middle;"><div class="text-center">{{'LIST_API_DESCRIPTION' | translate}}</div></th>
                <th style="vertical-align: middle; width:1px;"><div class="text-center">{{'LIST_GRANT_TYPES' | translate}}</div></th>
                <th style="vertical-align: middle;"><div class="text-center">{{'LIST_PERMISSION' | translate}}</div></th>
                <th style="vertical-align: middle;"><div class="text-center">{{'LIST_IP_RESTRICTION' | translate}}</div></th>
                <th style="vertical-align: middle; width:1px;"><div class="text-center">{{'LIST_MODIFY' | translate}}</div></th>
                <th style="vertical-align: middle; width:1px;"><div class="text-center">{{'LIST_DELETE' | translate}}</div></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="client in clients">
                <td style="width:1px;"><div class="text-center">{{client.id}}</div></td>
                <td>{{client.api_key}}</td>
                <td>{{client.description}}</td>
                <td>
                    <div data-ng-show="{{client.grant_authorization_code}}"><span class="label label-granttype">{{'LIST_GRANT_AC' | translate}}</span><br/></div>
                    <div data-ng-show="{{client.grant_implicit}}"><span class="label label-granttype">{{'LIST_GRANT_I' | translate}}</span><br/></div>
                    <div data-ng-show="{{client.grant_resource_owner}}"><span class="label label-granttype">{{'LIST_GRANT_R' | translate}}</span><br/></div>
                    <div data-ng-show="{{client.grant_client_credentials}}"><span class="label label-granttype">{{'LIST_GRANT_CC' | translate}}</span><br/></div>
                </td>
                <td data-ng-bind-html='client.permissions | formatListPermissions'></td>
                <td data-ng-bind-html='client.ips | formatIpRestriction'></td>
                <td style="vertical-align: middle;">
                    <div class="text-center"><button class="btn btn-primary btn-xs" data-ng-click="editClient(client)">{{'LIST_MODIFY' | translate}}</button></div>
                </td>
                <td style="vertical-align: middle;">
                    <div class="text-center"><button class="btn btn-danger btn-xs" data-ng-click="deleteClient($index)">{{'LIST_DELETE' | translate}}</button></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="checkbox">
        <button class="btn btn-default" data-ng-click="enterOverview()">{{'EDIT_BACK' | translate}}</button>
        <button class="btn btn-primary" data-ng-click="createNewClient()">{{'LIST_NEW_CLIENT' | translate}}</button>
    </div>
</div>
