<form>
    <div class="form-group">
        <button class="btn btn-primary" data-ng-click="goBack()">Back</button>
        <button class="btn btn-success" data-ng-click="saveClient()">Save</button>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Basic information</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="cid">ID</label>
                <input class="form-control" id="cid" type="text" data-ng-model="current.id" class="ng-pristine data-ng-valid" data-ng-readonly="true">
            </div>
            <div class="form-group">
                <label for="inputClientId">API Key</label>
                <div class="input-group">
                    <input id="inputClientId" name="inputClientId" data-ng-model="current.api_key" class="form-control" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="createRandomApiKey()">Generate</button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputClientSecret">API Secret</label>
                <div class="input-group">
                    <input id="inputClientSecret" name="inputClientSecret" data-ng-model="current.api_secret" class="form-control" type="text">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-ng-click="createRandomApiSecret()">Generate</button>
                    </span>
                </div>
            </div>
        </div>

        <table class="table table-striped table-bordered" id="scopetable">
            <thead>
                <tr>
                    <th>Permissions (Scope)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="permission in current.permissions track by $index">
                    <td data-ng-bind-html="permission | formatEditPermissions"></td>
                    <td><button class="btn btn-danger btn-sm" data-ng-click="deletePermission($index)">Delete</button></td>
                </tr>
                <tr>
                    <td><select class="form-control" data-ng-model="newPermission"
                        data-ng-options="label(route.pattern, route.verb) group by route.pattern for route in routes">
                            <option value="">(Bitte ausw&auml;hlen)</option>
                    </select></td>
                    <td><button class="btn btn-primary btn-sm" data-ng-click="addPermission(newPermission)">Add route</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Grant-Type Settings</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="inputGtClient">Client Credentials</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputGtClient" name="inputGtClient" data-ng-model="current.oauth2_gt_client_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Enabled
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="inputGtClientUser">Client Credentials User</label>
                <input id="inputGtClientUser" name="inputGtClientUser" data-ng-model="current.oauth2_gt_client_user" class="form-control" type="text">
                Please specify only one ILIAS user_id here. This is typically a user that owns the administration role.
            </div>

            <div class="form-group">
                <label for="inputGtAuth">Authorization Code</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputGtAuth" name="inputGtAuth" data-ng-model="current.oauth2_gt_authcode_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Enabled
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputGtAuthRefresh" name="inputGtAuthRefresh" data-ng-model="current.oauth2_authcode_refresh_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Enable Refresh-Token support for Authorization Code
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputGtImplicit">Implicit Grant</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputGtImplicit" name="inputGtImplicit" data-ng-model="current.oauth2_gt_implicit_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Enabled
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputGtUserpass">Resource Owner Credentials</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputGtUserpass" name="inputGtUserpass" data-ng-model="current.oauth2_gt_resourceowner_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Enabled
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputGtUserpassRefresh" name="inputGtUserpassRefresh" data-ng-model="current.oauth2_resource_refresh_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Enable Refresh-Token support for Resource Owner Credentials
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">User Binding (Authorization Code, Implicit Grant and Resource Owner only)</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="inputAllUserAccess">Status</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="inputAllUserAccess" name="inputAllUserAccess" data-ng-model="current.oauth2_user_restriction_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Specify a comma separated list of allowed ILIAS User Ids (else every ILIAS user can authorize)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputUserCSV">Allowed ILIAS users</label>
                <textarea id="inputUserCSV" class="form-control" rows="3" data-ng-model="current.access_user_csv"></textarea>
            </div>

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Redirection URI and Consent Message (Authorization Code and Implicit Grant only)</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="inputRedirectionURI">Redirection URI</label>
                <input id="inputRedirectionURI" name="inputRedirectionURI" data-ng-model="current.oauth2_redirection_uri" class="form-control" type="text" data-ng-true-value="'1'" data-ng-false-value="'0'">
            </div>

            <div class="form-group">
                <label for="inputDescription">OAuth2 Consent Message</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="oauth2_consent_msg_active" name="oauth2_consent_msg_active" data-ng-model="current.oauth2_consent_message_active" data-ng-true-value="'1'" data-ng-false-value="'0'">
                        Enable an additional page for the OAuth2 grant types "authcode" and "implicit grant" to inform the user about the scope of the application.
                    </label>
                </div>
                <textarea id="inputDescription" class="form-control" rows="3" data-ng-model="current.oauth2_consent_message"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" data-ng-click="goBack()">Back</button>
        <button class="btn btn-success" data-ng-click="saveClient()">Save</button>
    </div>
</form>
