<div>
    <div data-ng-show="authentication.tryAutoLogin()" class="alert alert-info" role="alert">{{'LOGIN_AUTO' | translate}}</div>
    
    <div data-ng-hide="authentication.tryAutoLogin()">
        <img class="login-img" src="img/logo.png" alt="Logo">
        
        <form class="form-signin" data-ng-submit="manualLogin()">
            <h2 class="form-signin-heading">{{'LOGIN_HEAD' | translate}}</h2>
            
            <label for="inputUser" class="sr-only">{{'LOGIN_USERNAME' | translate}}</label>
            <input data-ng-model="formData.userName" type="text" id="inputUser" class="form-control" placeholder="{{'LOGIN_USERNAME' | translate}}" required autofocus>
            
            <label for="inputPassword" class="sr-only">{{'LOGIN_PASSWORD' | translate}}</label>
            <input data-ng-model="formData.password" type="password" id="inputPassword" class="form-control" placeholder="{{'LOGIN_PASSWORD' | translate}}" required>
            <!-- <input data-ng-model="formData.iliasClient" type="text" id="iliasClient" class="form-control" > -->
            <button class="btn btn-lg btn-primar-outline btn-block" type="submit">{{'LOGIN_LOGIN' | translate}}</button>
        </form>
    </div>
</div>
