<div class="alert alert-danger center-block" role="alert" data-ng-cloak>
    <h4 class="alert-heading">{{'OFFLINE_WARNING' | translate}}</h4>
    {{'OFFLINE_ISSUE' | translate}}
    <ul>
        <li><strong><a href="{{postEndPoint}}routes">{{postEndPoint}}</a></strong> {{'OFFLINE_URL_POST' | translate}}</li>
        <li><strong><a href="{{installDir}}restplugin.php/routes">{{installDir}}restplugin.php</a></strong> {{'OFFLINE_URL_FILE' | translate}}</li>
        <li><strong><a href="{{installDir}}routes">{{installDir}}</a></strong> {{'OFFLINE_URL_SUB' | translate}}</li>
    </ul><br/>
    {{'OFFLINE_EXPLANATION' | translate}}
</div>

<button class="btn btn-primary btn-sm center-block" data-ng-click="retry()">{{'OFFLINE_RETRY' | translate}}</button>
